!!!
%html
  %head

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BelpApp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-fixed-top.navbar-yellow
      .container
        .row
          .navbar-header.col-md-12
            %ul.nav.navbar-nav.navbar-right
              -if current_user
                %li= link_to current_user.name
                %li= link_to 'Sign Out', sign_out_path
              -else
            = link_to "Belp", root_path, id: 'logo'
    .container

      = yield
